<div class="container">
  <h1 align="center"><strong> Title: </strong><%= @article.title %></h1>
  <div class="well">
    <h3 class="center">Description:</h3>
    <hr>
    <%= simple_format(@article.description) %>
  </div>
  <div id="show-btns">
    <%= link_to "Cancel", articles_path, class: "btn btn-secondary" %>
    <% if logged_in? && current_user == @article.user %>
      <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"  %>
    <% end %>  
  </div>
</div>