<div class="container">
  <h1 class="center-text"><strong> User profile for </strong><%= @user.user_name %></h1>
  <%= gravatar_for(@user) %>
  <p class="center">Email: <%= @user.email %></p>
  <p class="center">Admin: <%= @user.admin? %></p>
  
    <%= link_to "Back", articles_path, class: "btn btn-secondary" %>
    <% if user_signed_in? && current_user.id == @user.id || current_user.admin? %>
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"  %>
    <% end %>  
  
  <%= will_paginate @user_articles%>
  <% @user_articles.each do |article| %>
    <p>Title: <%= article.title %></p>
    <p>Post:  <%= article.description %></p>
    <hr>
  <% end%>  
</div>